<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Horoscope App</title>
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer type="module" src="socket_script.js"></script>
  <script type="module" src="horosope_chart.js"></script>
  <script type="module" src="events.js"></script>
</head>
 
<body>
  <h1>Horoscope App</h1>
  <section id="horoscope-wrapper">
  <canvas id="canvas" width="600" height="600" style="background-color:white">
  </canvas>
  <div class="style-wrapper">
  <form action="/events" method="GET" class="birthday">
    <label for="birthday">Enter your birthday:</label>
    <input id="birthday" name="birthday" type="date" required>
    <input id="time" name="time" type="time" required>
    <button id="submit_btn" type="submit">Submit</button>
  </form>
  <form action="/room" method="POST" class="room">
    <input name="room" type="text" required>
    <button type="submit">New Room</button>
  </form>
  </div>
  <section id="room-container">
    <% Object.keys(rooms).forEach(room=> { %>
      <div>
        <%= room %>
      </div>
      <a href="/<%= room %>">Join</a>
      <% }) %>
    </section>
</section>
  <section id="horoscope-fortune-container">
  </section>
</body>

</html>