<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to our fortune telling site!</h1>
    <a href="/login">Log in</a>
    <p>If you don't have an account, you can sign up!</p>
    <a href="/signup">Sign up</a>
    <p>If you want to continue without an account:</p>
    <a href="/default">Use the default version</a>
</body>
</html>