<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Horoscope App</title>
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer type="module" src="socket_script.js"></script>
  <script type="module" src="horosope_chart.js"></script>
  <script type="module" src="events.js"></script>
</head>

<body>
  <img src="images/logo.png" width="300">
  <section id="horoscope-wrapper">
    <form action="/events" method="GET" class="formElement" id="planetarPositioningForm">
      <label for="birthday">Enter your birthday:</label>
      <input id="birthday" name="birthday" type="date" required>

      <input id="time" name="time" type="time" required>

      <h3>If you want to see your Ascendant, please enter: </h3>

      <label for="latitude">Enter Latitude:</label>
      <input type="number" step="any" id="latitude" name="latitude">
  
      <label for="longitude">Enter Longitude:</label>
      <input type="number" step="any" id="longitude" name="longitude">

      <button id="submit_btn" type="submit">Submit</button>
    </form>

    <canvas class="hidden" id="canvas" width="600" height="600" style="background-color:white">
    </canvas>
    <img src="images/astrology.png" id="horoscope-img">

    <div class="result">
      <div class="horoscope-container hidden" id="horoscope-zodiac-container">
        <img src="images/scorpio.png">
      </div>

      <div class="horoscope-container hidden" id="horoscope-fortune-container">
      </div>
    </div>

  </section>


  <section class="rooms">
    <h3>Available rooms:</h3>
    <div id="room-container">
      <% Object.keys(rooms).forEach(room=> { %>
        <div>
          <%= room %>
        </div>
        <a href="/<%= room %>">Join</a>
        <% }) %>
    </div>
    <form action="/room" method="POST">
      <input name="room" type="text" required>
      <button type="submit">New Room</button>
    </form>
  </section>
</body>

</html>