<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/room.css" />
  <title>Horoscope App</title>
  <script>
    const roomName = "<%= roomName %>"
  </script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="socket_script.js"></script>
</head>
<body>
  <div id="notification-container"></div>
  <form id="post-container">
    <input type="text" id="notification-input">
    <button type="submit" id="post-button">Post</button>
  </form>
</body>
</html>